

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 3vh;
    background-color: #B68D40;
  }

.casa {
    width: 80px;
    height: 80px;
    border: 2px solid #122620;
    background-color: #F4EBD0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-size: 1.6rem;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 50px;
    text-align: center;
  }

  .painel {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px;
    border: 2px solid #122620;
    padding: 20px;
  }

.placar {
  font-size: 1.5rem;
  color: #122620;
}

#oponente {
  display: flex; 
  align-items: center;
}

#jogador {
  display: flex; 
  align-items: center;
}

#display-jogador {
  font-size: 2rem;;
}

#display-oponente {
  font-size: 2rem;;
}

.painel button {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  margin-top: 10px; 
  margin-bottom: 30px;
  background-color: #F4EBD0;
}